<app-header></app-header>
<main>

    <div class="titulo">
        <h1>Genero</h1>
        <div class="imggenero">
            <img src="../assets/theater 1.png" alt="fita de filmadora">
        </div>
    </div>


    <p class="cadastrar">Cadastrar Genêro</p>
    <div class="inputs">
        <input type="text" placeholder="Genêro">
        <button type="submit" class="salvar">Salvar</button>
    </div>


    <div class="genero">


        <div class="generos">

            <div class="genero1">
                <p>Terror</p>
            </div>

            <div class="botoes">

                <button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>
        </div>

        <div class="generos">

            <div class="genero2">
                <p>Ação</p>
            </div>

            <div class="botoes">

                <button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>
        </div>

        <div class="generos">

            <div class="genero3">
                <p>Comédia</p>
            </div>

            <div class="botoes">

                <button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>
        </div>
    </div>


</main>
<app-footer></app-footer>