<app-header></app-header>
<main>

    <div class="titulo">
        <h1>Genero</h1>
        <div class="imggenero">
            <img src="../assets/theater 1.png" alt="fita de filmadora">
        </div>
    </div>

    <form [formGroup]="form" (ngNativeValidate)="salvarDadosGenero()">

        <p class="cadastrar">Cadastrar Genêro</p>
        <div class="inputs">
            <input type="text" formControlName="genero" placeholder="Genêro">

            <button type="submit" class="salvar" (click)="salvarDadosGenero()" *ngIf="!verificarEditar">Salvar</button>
            <button type="submit" class="salvar" (click)="EditarCliente1()" *ngIf="verificarEditar">Editar</button>
        </div>


        <div class="genero" *ngFor="let item of genero; index as i;">


            <div class="generos">

                <div class="genero1">
                    <p>{{item.genero}}</p>
                </div>

                <div class="botoes">
                    <button class="editar" (click)="EditarCliente2(item)">Editar</button>
                    <button class="excluir" (click)="deleteDadosGenero(item.id)">Excluir</button>
                </div>
            </div>

        </div>
    </form>



</main>
<app-footer></app-footer>