<main>


    <div class="header">

        <div class="card1">

            <div class="flexheader1">

                <div class="imgheader">
                    <img src="../assets/play-button 1 (2).png" alt="play de filmadora">
                </div>


                <div class="textheader">
                    <p class="textfilmesheader">FILMES</p>
                    <p class="textcolletionheader">Colletion</p>

                </div>


            </div>

            <div class="textfilmescadastroheader">
                <p>Cadastre os gêneros dos filmes </p>
            </div>


        </div>

        <div class="links">

            <a href="">Home</a>

            <a href="">Usuários</a>

            <a href="">Filmes</a>

            <a href="">Genêros</a>

        </div>
    </div>

    <div class="titulo">
        <h1>Genêros</h1>
        <div class="imgfilmes">
            <img src="../assets/theater 1.png" alt="mascaras">
        </div>
    </div>

    <p class="cadastrar">Cadastrar Genêro</p>
    <div class="inputs">
        <input type="text" placeholder="Título do Filme">
        <button type="submit" class="salvar">Salvar</button>
    </div>

    <div class="generos">

        <div class="genero1">
            <p>Terror</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>

    <div class="generos">

        <div class="genero2">
            <p>Ação</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>

    <div class="generos">

        <div class="genero3">
            <p>Comédia</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>

    <div class="footer">

        <div class="flexfooter">
            <img src="../assets/video-player 1 (1).png" alt="play de filmadora">
            <div class="textfooter">
                <p class="textfilmesfooter">FILMES</p>
                <p class="textcolletionfooter">Colletion</p>

            </div>
        </div>



        <div id="linha-vertical"></div>
        <div class="contatos">
            <p class="rodape">Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
            <p class="rodape">Call us now toll free: (800)2345-6789</p>
            <p class="rodape">Customer support: support@demolink.org</p>
            <p class="rodape">Skype: sample-username</p>
        </div>

    </div>
</main>