<header>

    <div class="header">

        <div class="card1">

            <div class="flexheader1">

                <div class="imgheader">
                    <img src="../assets/play-button 1 (2).png" alt="play de filmadora">
                </div>


                <div class="textheader">
                    <p class="textfilmesheader">FILMES</p>
                    <p class="textcolletionheader">Colletion</p>

                </div>


            </div>

            <div class="textfilmescoletaneaheader">
                <p>{{texto}}</p>
            </div>


        </div>

        <div class="links">

            <a routerLink="/home">Home</a>

            <a routerLink="/usuario">Usuários</a>

            <a routerLink="/filmes">Filmes</a>

            <a routerLink="/genero">Genêros</a>

        </div>
    </div>

</header>