<footer>

    <div class="footer">

        <div class="flexfooter">
            <img src="../assets/video-player 1 (1).png" alt="play de filmadora">
            <div class="textfooter">
                <p class="textfilmesfooter">FILMES</p>
                <p class="textcolletionfooter">Colletion</p>

            </div>
        </div>



        <div id="linha-vertical"></div>
        <div class="contatos">
            <p class="rodape">Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
            <p class="rodape">Call us now toll free: (800)2345-6789</p>
            <p class="rodape">Customer support: support@demolink.org</p>
            <p class="rodape">Skype: sample-username</p>
        </div>

    </div>
</footer>