<app-header></app-header>
<main>


    <div class="titulo">
        <h1>Filmes</h1>
        <div class="imgfilmes">
            <img src="../assets/cinema 1.png" alt="fita de filmadora">
        </div>
    </div>

    <p class="cadastrar">Cadastrar Filmes</p>
    <div class="inputs">
        <input type="text" placeholder="Título do Filme">
        <select id="setor" name="setor">
            <option value="Genero" selected>Genêro</option>
        </select>
        <button type="submit" class="salvar">Salvar</button>
    </div>




    <div class="generos">

        <div class="cadastrados">

            <div class="filme1">
                <p>Os outros</p>
            </div>

            <div class="genero1">
                <p>Terror</p>
            </div>

            <div class="botoes">

                <button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>
        </div>

        <div class="cadastrados2">

            <div class="filme2">
                <p>Até o último homem</p>
            </div>

            <div class="genero2">
                <p>Ação</p>
            </div>

            <div class="botoes">

                <button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>
        </div>

        <div class="cadastrados3">

            <div class="filme3">
                <p>O máscara</p>
            </div>

            <div class="genero3">
                <p>Comédia</p>
            </div>

            <div class="botoes">

                <button class="editar">Editar</button>
                <button class="excluir">Excluir</button>
            </div>
        </div>
    </div>

</main>
<app-footer></app-footer>