<app-header></app-header>
<main>


    <div class="titulo">
        <h1>Filmes</h1>
        <div class="imgfilmes">
            <img src="../assets/cinema 1.png" alt="fita de filmadora">
        </div>
    </div>

    <form [formGroup]="form" (ngNativeValidate)="salvarDadosFilmes()">

        <p class="cadastrar">Cadastrar Filmes</p>
        <div class="inputs">
            <input type="text" formControlName="filmes" placeholder="Título do Filme">
            <select id="setor" formControlName="genero" name="setor">
                <option value="Genero" selected>Genêro</option>
                <option value="Ação">Ação</option>
                <option value="Drama">Drama</option>
                <option value="Romance">Romance</option>
                <option value="Documentario">Documentario</option>
                <option value="Terror">Terror</option>
                <option value="Comédia">Comédia</option>
                <option value="Suspense">Suspense</option>
            </select>
            <button type="submit" class="salvar" (click)="salvarDadosFilmes()" *ngIf="!verificarEditar">Salvar</button>
            <button type="submit" class="salvar" (click)="EditarCliente1()" *ngIf="verificarEditar">Editar</button>
        </div>





        <div class="generos" *ngFor="let item of filmes; index as i;">


            <div class="cadastrados">

                <div class="filme1">
                    <p>{{item.filmes}}</p>
                </div>

                <div class="genero1">
                    <p class="terror">{{item.genero}}</p>
                </div>

                <div class="botoes">

                    <button class="editar" (click)="EditarCliente2(item)">Editar</button>
                    <button class="excluir" (click)="deleteDadosFilmes(item.id)">Excluir</button>
                </div>
            </div>

        </div>

    </form>

</main>
<app-footer></app-footer>