@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rosarivo&display=swap');

.flexfooter,
.flexheader1 {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
}

.header {
    background-color: #9BD2DE;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 1440px;
    height: 200px;
    margin: auto;
}

img {
    width: 61px;
    height: 61px;
}

.links {
    align-items: center;
}

a {
    margin-left: 45px;
    text-decoration: none;
    width: 49px;
    height: 21px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #4B2142;
}

.textfilmesheader {
    width: 102px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #616162;
}


.textfilmesheader,
.textcolletionheader {
    margin-left: 10px;
}


.textcolletionheader {

    width: 88px;
    height: 25px;

    font-family: 'Rosarivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #686666;

    margin-top: -35px;
}

.textfilmescadastroheader {
    width: 597px;
    height: 29px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

    color: #000000;

}




.editar {
    width: 125px;
    height: 35px;


    background: #F6511D;
    border: 2px solid #F6511D;
    border-radius: 20px;
    color: white;
}

.excluir {
    width: 125px;
    height: 35px;


    background: #41B8D2;
    border: 2px solid #41B8D2;
    border-radius: 20px;
    color: #000000;
}

.cadastrados,
.cadastrados2,
.cadastrados3 {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #4B2142;
}

.acao {
    margin-right: 210px;
}

.comedia {
    margin-right: 125px;
}

.terror {
    margin-right: 132px;
}


.footer {
    display: flex;
    width: 1440px;
    height: 250px;
    margin: auto;
    margin-top: 230px;
    justify-content: space-evenly;
    align-items: center;

    background: #F6511D;
}

.rodape {
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #FFFCFC;
}


#linha-vertical {
    display: flex;
    height: 175px;
    border-right: 2px solid white;
}


.textfilmesfooter {
    width: 102px;
    height: 35px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}


.textfilmesfooter,
.textcolletionfooter {
    margin-left: 10px;
}


.textcolletionfooter {

    width: 88px;
    height: 25px;

    font-family: 'Rosarivo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;

    color: #000000;

    margin-top: -35px;
}

.prontoparacadastrar {
    margin-top: -25px;
}



select {
    width: 400px;
    height: 58px;


    border: 1px solid #000000;
}

input {
    width: 400px;
    height: 58px;


    border: 1px solid #000000;
}

.inputs {
    display: flex;
    justify-content: space-evenly;
}

.salvar {
    width: 180px;
    height: 58px;

    background: #F6511D;
    color: white;
}

.cadastrar {
    width: 152px;
    height: 23px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
    margin-left: 55px;
}

.titulo {
    width: 72px;
    height: 28px;
    left: 692px;
    top: 221px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

    line-height: 28px;

    color: #000000;

    margin: auto;
    text-align: center;
    margin-bottom: 100px;
}

main {
    margin: auto;
    max-width: 1200px;
    justify-content: center;
}

.generos {
    margin-top: 100px;
}