<app-header></app-header>
<main>


    <h1>Cadastro</h1>
    <div class="cadastroflex">

        <div class="nome">
            <p id="nome">Nome</p>
            <input type="text">
        </div>

        <div class="email">
            <p id="email">E-mail</p>
            <input type="text">
        </div>

        <div class="telefone">
            <p id="telefone">Telefone</p>
            <input type="text">
        </div>
    </div>
    <button type="submit" class="cadastar">Cadastrar</button>




    <div class="cadastrados">

        <div class="nome1">
            <p>Paulo Andre</p>
        </div>

        <div class="email1">
            <p>paulo@email.com</p>
        </div>

        <div class="telefone1">
            <p>3349 6788</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>

    <div class="cadastrados2">

        <div class="nome2">
            <p>Marcos Lucio</p>
        </div>

        <div class="email2">
            <p>marcos@email.com</p>
        </div>

        <div class="telefone2">
            <p>3349 6788</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>

    <div class="cadastrados3">

        <div class="nome3">
            <p>Laura Port</p>
        </div>

        <div class="email3">
            <p>laura@email.com</p>
        </div>

        <div class="telefone3">
            <p>3349 6788</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>















</main>
<app-footer></app-footer>