<app-header></app-header>
<main>


    <form [formGroup]="form" (ngNativeValidate)="salvarDadosUsuarios()">


        <h1>Cadastro</h1>
        <div class="cadastroflex">

            <div class="nome">
                <p id="nome">Nome</p>
                <input type="text" formControlName="nome" nome="nome" required placeholder=" Ex. seu nome">
            </div>

            <div class="email">
                <p id="email">E-mail</p>
                <input type="email" formControlName="email" nome="email" required placeholder=" Ex. usuario@email.com">
            </div>

            <div class="telefone">
                <p id="telefone">Telefone</p>
                <input type="text" formControlName="telefone" nome="telefone" required placeholder=" Ex. seu telefone">
            </div>
        </div>
        <button type="submit" class="cadastar" (click)="salvarDadosUsuarios()" *ngIf="!verificarEditar">Cadastrar</button>
        <button type="submit" class="cadastar" (click)="EditarCliente1()" *ngIf="verificarEditar">Editar</button>

    </form>



    <div class="cadastrados" *ngFor="let item of usuario; index as i;">

        <div class="nome1">
            <p>{{item.nome}}</p>
        </div>

        <div class="email1">
            <p>{{item.email}}</p>
        </div>

        <div class="telefone1">
            <p>{{item.telefone}}</p>
        </div>

        <div class="botoes">

            <button class="editar" (click)="EditarCliente2(item)">Editar</button>
            <button class="excluir" (click)="deleteDadosUsuarios(item.id)">Excluir</button>
        </div>
    </div>


</main>
<app-footer></app-footer>