<main>

    <div class="header">

        <div class="card1">

            <div class="flexheader1">

                <div class="imgheader">
                    <img src="../assets/play-button 1 (2).png" alt="play de filmadora">
                </div>


                <div class="textheader">
                    <p class="textfilmesheader">FILMES</p>
                    <p class="textcolletionheader">Colletion</p>

                </div>


            </div>

            <div class="textfilmescadastroheader">
                <p>Faça o Cadastro de usuários e edite, caso necessário</p>
                <p class="prontoparacadastrar"> Pronto para cadastrar? </p>
            </div>


        </div>

        <div class="links">

            <a href="">Home</a>

            <a href="">Usuários</a>

            <a href="">Filmes</a>

            <a href="">Genêros</a>

        </div>
    </div>

    <h1>Cadastro</h1>
    <div class="cadastroflex">

        <div class="nome">
            <p id="nome">Nome</p>
            <input type="text">
        </div>

        <div class="email">
            <p id="email">E-mail</p>
            <input type="text">
        </div>

        <div class="telefone">
            <p id="telefone">Telefone</p>
            <input type="text">
        </div>
    </div>
    <button type="submit" class="cadastar">Cadastrar</button>




    <div class="cadastrados">

        <div class="nome1">
            <p>Paulo Andre</p>
        </div>

        <div class="email1">
            <p>paulo@email.com</p>
        </div>

        <div class="telefone1">
            <p>3349 6788</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>

    <div class="cadastrados2">

        <div class="nome2">
            <p>Marcos Lucio</p>
        </div>

        <div class="email2">
            <p>marcos@email.com</p>
        </div>

        <div class="telefone2">
            <p>3349 6788</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>

    <div class="cadastrados3">

        <div class="nome3">
            <p>Laura Port</p>
        </div>

        <div class="email3">
            <p>laura@email.com</p>
        </div>

        <div class="telefone3">
            <p>3349 6788</p>
        </div>

        <div class="botoes">

            <button class="editar">Editar</button>
            <button class="excluir">Excluir</button>
        </div>
    </div>















    <div class="footer">

        <div class="flexfooter">
            <img src="../assets/video-player 1 (1).png" alt="play de filmadora">
            <div class="textfooter">
                <p class="textfilmesfooter">FILMES</p>
                <p class="textcolletionfooter">Colletion</p>

            </div>
        </div>



        <div id="linha-vertical"></div>
        <div class="contatos">
            <p class="rodape">Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</p>
            <p class="rodape">Call us now toll free: (800)2345-6789</p>
            <p class="rodape">Customer support: support@demolink.org</p>
            <p class="rodape">Skype: sample-username</p>
        </div>

    </div>
</main>